:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: lightgrey;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  background-color: rgba(40, 40, 36, 0.7);
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
a {
  margin: 1rem;
  color: lightgray;
}
.back-to-list:hover {
  font-weight: 700;
  color: lightgray;
}
a:visited {
  /* font-weight: 700; */
  text-decoration: none;
  color: lightgray;
}

.card {
  margin: 2rem;
  /* border: 5px solid hotpink; */
  display: flex;
  max-width: 230px;
}

/* .movie-details {
  display: flex;
flex-direction: row;
align-items: flex-end;

} */
.title {
  /* margin: 3rem; */
  grid-area: title;
  /* background-color: rgba(40, 40, 36, 0.7); */
  -webkit-text-stroke: 1px;
  /* justify-self: stretch; */
}

.overview {
  margin: 1rem;
  grid-area: overview;
}
.poster {
  grid-area: poster;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.stars {
  margin: 1rem;
  grid-area: stars;
}

.details-container {
  background-color: rgba(40, 40, 36, 0.7);
}
@media (min-width: 667px) {
  .details-container {
    background-color: rgba(40, 40, 36, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "poster stars . . ."
      "poster overview overview overview ."
      "poster overview  overview  overview .";
  }
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}
